@model TuneBooth.Models.ModelsVM
@{
    ViewBag.Title = "Magasin";
}

<h2>Magasin</h2>
@foreach (var music in Model.Tunes)
{

    <h3>Tune</h3>
        <ul>
            <li>@music.Titre;</li>
            <li>@music.ArtisteID</li>
            <li>@music.Album.Titre</li>
            <li>@music.Genre</li>
            <li>@music.Format</li>
            <li>@music.Prix + "€"</li>
        </ul>
}
