@model TuneBooth.Models.ModelsVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th></th>
    </tr>


    <tr>
        <th>
            @Html.ActionLink("Mes musiques", "AllTunes")
        </th>
        <th></th>
    </tr>

@foreach (var pl in Model.Playlists) {
    <tr>
        <td>
            @Html.ActionLink(@pl.Nom, "Edit", new { id = pl.ID })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=pl.ID })
        </td>
    </tr>
}

</table>
