@model TuneBooth.Models.Tune

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tune</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            Artiste
        </dt>

        <dd>
            <a href="~/Artistes/Details/@ViewBag.artiste.ID">@ViewBag.artiste.NomArtiste</a>
</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSortie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>

        <dt>
            Album
        </dt>

        <dd>
            <a href="~/Albums/Details/@ViewBag.album.ID">@ViewBag.album.Titre</a>
</dd>

    </dl>
</div>
<div>
    <audio controls="controls">
        <source src="~/Trailer/@ViewBag.filename" type="audio/mp3" />
    </audio>
</div>

<p>
    @Html.ActionLink("Acheter", "Purchase", new { id = Model.ID }) |
    @Html.ActionLink("Editer", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste", "Index") |
    @Html.ActionLink("Télécharger", "Download", new { id = Model.ID })
</p>
