@model TuneBooth.Models.Artiste

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artiste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomArtiste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomArtiste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biographie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biographie)
        </dd>

    </dl>
</div>
<div>
    <h5>Albums</h5>
    @foreach (var album in ViewBag.albums)
    {
        if (album.ArtisteID == Model.ID)
        {
            <p><a href="~/Albums/Details/@album.ID">@album.Titre</a></p>
        }
    }
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour au magasin", "Index", "Magasin")
</p>
